# Copier vers terraform.tfvars, ignoré par Git.
# Remplacer l'adresse d'exemple par une source administrateur stricte.

admin_cidrs = [
  "203.0.113.10/32"
]

external_network_name = "prive"
name_prefix           = "asteria"
image_name             = "ubuntu24.04"
bastion_flavor_name    = "normale"
platform_flavor_name   = "puissante"
ssh_public_key_path    = "~/.ssh/tp_cloud.pub"
ssh_user               = "ubuntu"
